body {
    width:100%;
    padding: 0px;
    margin: 0px;
    min-width: 320px !important;
}

.wrap {
    max-width: 940px;
    margin: 0 auto; 
}

 .menu {
    background: #5b6169;
    width: 100%;
    min-height: 90px;
    border: none;
    padding-left: 10px; 
}

.dropdown-menu {
    background-color: #5b6169;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100px;
}

.dropdown-menu > li > a {
    padding: 3px 30px;
    color: #e7e7e7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navbar-default {
    background: #5b6169;
}

 .container-fluid {
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: 0px; 
    margin-left: 0px; 
}

.navbar-nav {
    float: right;
    padding-top: 20px;
}

.navbar-default .navbar-brand {
    background: linear-gradient(#fff 0%, #f4f4f4 25%, #999898 43%, #fff 53%,  #f4f4f4 50%, #999898 69%, #f4f4f4 75%);
    -webkit-background-clip: text;
    color: transparent;
}

.navbar-brand {
    height: 80px; 
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -1.9em;
}

a .uppercase {
    font-family: Myriad Pro;
    font-size: 24px;
    text-transform: uppercase;
}

a {
    font-family: Myriad Pro;
    font-size: 14px;
}

.navbar-default:hover .navbar-brand:hover {
    background: linear-gradient(#999898 0%, #999898 25%, #f4f4f4 43%, #76787b 53%, #999898 60%, #f4f4f4 50%, #999898 69%, #fff 75%);
    -webkit-background-clip: text;
    color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #5B6169;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #5B6169;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #999898;
} 

.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 0px; 
    border: 1px solid transparent;
}

.slider {
	min-height: 470px;
	background-image: url(../img/bg_slider.jpg);
    background-size: cover;
    margin-top: 0px;
    position: relative;
    padding-top: 36px;
    overflow: hidden;
}


/*******CЛАЙДЕР КРУЖОЧКИ ПОЗИЦИОНИРОВАНИЕ**********/
 
.cover-wrap-carousel {
    position: absolute;
    z-index: 9;
}

 .slide{
     background-image: url(../img/slider_bg.png);
     width: 325px;
     min-height: 470px;
     overflow: hidden;
}
.carousel-inner {
    width: 272px;
    left: 29px;
    top: 99px;
}
.carousel-indicators .active {
    background-color: #3674ba;
}

.carousel-indicators li {
    border: 0px solid #fff;
    background-color: #8cc0ea;
}

h1 {
    font-family: Open Sans;
    font-size: 48px;
    color: #fff;
}

.carousel-caption p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-shadow: none;
    padding-top: 30px;
    color: #335565;
    padding-bottom: 15px;
}

.carousel-caption {
    width: 98%;
    height: 180px;
    top: 60px;
    margin-left: 0px;
    left: 10px;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.ios {
    min-height: 325px;
}

.button {
    width: 170px;
    height: 40px;
    background: #74abda;
    text-align: center;
    padding: 6px;
    font-family: 'Open Sans', sans-serif; 
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
 }

.button  a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.button  a:hover {
    text-decoration: none;
}



/* *****SECTION_SERVICES***** */

.services {
    min-height: 495px;  
    padding: 0px;
    margin: 0px; 
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #5b6169;
    text-align: center;
    text-transform: uppercase;
    max-width: 795px;
    margin: 0 auto;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 60px;
}

.title {
    overflow: hidden;
}

.title:before,
.title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #5b6169;
    border-width: 0 10px;
}

.title:before {
    margin-left: -100%;
}

.title:after {
    margin-right: -100%;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    color: #3674ba;
    font-family: 'OpenSans';
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
}

img {
    text-align: center;  
}

.col-lg-4 {
    text-align: center;
    padding-top: 55px;
}

.button1{
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
   padding-top: 30px;
   font-family: Arial;
   font-size: 14px;
   color: #4e4e4e;
}


/* *****SECTION_ABOUT***** */

.about {
    background: #d1d1d1;
    min-height: 620px;
    padding: 0px;
    margin: 0px;  
}

.map {
    padding-top: 63px;
}

h4 {
    font-family: MyriadPro;
    font-size: 36px;
    color: #7c7c7c;
    padding-top: 63px;
}

.progress-bar {
    height: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    background-color: #3674ba;    
}

.progress {
    height: 30px;
    margin-bottom: 11px;
    background-color: #828181;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.text h3 {
    padding-top: 0px;
    font-family: 'Open Sans';
    font-size: 24px;
    text-align: left;
}

h1, .h1, h2, .h2, h3, .h3, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}


.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: -15px;
}

 p {
    margin: 0 0 10px;
 }

 .row {
    margin-right: 0px;
    margin-left: 0px;
}

.form-control {
    margin-top: 0px;
    height: 30px;
    padding: 6px 10px;
    color: #7b7b7b;
    background-color: #f1f1f1;
    background-image: none;
    border: none;
    border-radius: 0px;
}

textarea {
    font: inherit;
    color: inherit;
}

.form-group {
    margin-bottom: 10px;
}

form {
    margin-top: 10px !important;
}

/*  ********FOOTER************ */

footer {
    height: 100px;
}
 
footer p {
    text-align: center;
    font-family: MyriadPro;
    font-size: 12px;
    color: #6f6f6f;
    padding-top: 44px !important;
}

.btn {
    margin-top: -34px;
    float: right;
    width:  92px;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
}

.btn-info {
    color: #ffffff;
    background-color: #3674ba;
}

#carousel-example-generic{
    position: relative;
}

.cover-wrap-carousel {
    position: absolute;
    z-index: 9
}